
@font-face {
  font-family: 'hk_novaheavy_r';
  src: url('~assets/fonts/hknova-heavyr-webfont.woff2') format('woff2'),
        url('~assets/fonts/hknova-heavyr-webfont.woff') format('woff'),
        url('~assets/fonts/HKNova-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hk_novalight';
  src: url('~assets/fonts/hknova-light-webfont.woff2') format('woff2'),
        url('~assets/fonts/hknova-light-webfont.woff') format('woff'),
        url('~assets/fonts/HKNova-Light.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hk_novamedium';
  src: url('~assets/fonts/hknova-medium-webfont.woff2') format('woff2'),
        url('~assets/fonts/hknova-medium-webfont.woff') format('woff'),
        url('~assets/fonts/HKNova-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hk_novaregular';
  src: url('~assets/fonts/hknova-regular-webfont.woff2') format('woff2'),
        url('~assets/fonts/hknova-regular-webfont.woff') format('woff'),
        url('~assets/fonts/HKNova-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hk_novabold';
  src: url('~assets/fonts/hknova-bold-webfont.woff2') format('woff2'),
        url('~assets/fonts/hknova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
